*{
  margin: 5px;
  padding: 5px;
}
.container{
  display: grid;
  place-content: center;
  text-align: center;
  height: 80vh;
}

.container input{
  margin-bottom: 10px;
  border: 2px solid #e8e2e2;
  border-radius: 3px;
  padding: 0.5rem;
  width: 18rem;
}

.container button{
  background-color: #2177d3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 8rem;
  margin: 4px auto;
  cursor: pointer;
}
